<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="open.com.openapps" >

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MenuOpenApps"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".transitionscreen.SecondScreen"
            android:label="@string/title_activity_second_screen" >
        </activity>
        <activity
            android:name=".opencam.Camera"
            android:label="@string/title_activity_camera" >
        </activity>
        <activity
            android:name=".openmusic.MusicPlayers"
            android:label="@string/title_activity_music_players" >
        </activity>
        <activity
            android:name=".openmusicsdcard.MusicPlayerSDCard"
            android:label="@string/title_activity_music_player_sdcard" >
        </activity>
        <activity
            android:name=".mediaplayermp3.ExampleMediaPlayer"
            android:label="@string/title_activity_example_media_player" >
        </activity>
        <activity
            android:name=".mp3listcard.ExampleMp3ListCard"
            android:label="@string/title_activity_example_mp3_list_card" >
        </activity>
    </application>

</manifest>
